@import url(./styles.css);

.dom {
    color: #de2243;
    text-decoration: underline;
}

#message {
    background-color: rgb(201, 201, 201);
    height: 70px;
    padding-top:  30px;
    text-align: center;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 45%;
    border: 2px solid rgb(229, 92, 115);
}

#new-btn {
    display: flex;
    flex-direction: row;
}